<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.kochava.events"
      version="0.1.0">
    <name>Kochava</name>
    <description>Kochava Android Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,calendar</keywords>


    <js-module src="www/kochava.js" name="KochavaEventManager">
        <clobbers target="window.kochava" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="KochavaEventManager">
                <param name="android-package" value="org.kochava.events.KochavaEventManager"/>
            </feature>
        </config-file>

        <source-file src="src/android/KochavaEventManager.java" target-dir="src/org/kochava/events" />      
     </platform>          
</plugin>
